<div class="container">
  <h1 class="h1 display-6 text-left mt-4 text-light bg-dark p-1">Add profile</h1>
  <form action="/profile/addprofile" method="POST" enctype="multipart/form-data" class="mt-4">
    <div class="row">
      <div class="col-4 mt-2">
        <input type="file" class="form-control" name="photo" placeholder="upload a photo">
      </div>
       <div class="col-4 mt-2">
        <input type="text" class="form-control" name="name" placeholder="enter a name">
      </div>
       <div class="col-4 mt-2">
        <input type="text" class="form-control" name="phonenumber" placeholder="phone number">
      </div>
       <div class="col-4 mt-2">
        <input type="text" class="form-control" name="company" placeholder="enter a company">
      </div>
      <div class="col-4 mt-2">
        <input type="text" class="form-control" name="location" placeholder="enter a location">
      </div>
      <div class="col-4 mt-2">
        <input type="text" class="form-control" name="location" placeholder="enter a location">
      </div>
      <div class="col-12 mt-4">
        <button type="submit" class="btn btn-dark float-right mt-4 ">Submit</button>
      </div>

  </div>
  </form>
  {{#each errors}}
  <div class="col-md-4 offset-4">
    <div class="alert alert-danger mt-4">{{text}}</div>
  </div>
  {{else}}
  {{/each}}
</div>